* linguist-vendored
*.c++ linguist-vendored=false
*.html linguist-vendored=false
*.cMake linguist-vendored=false
*.swift linguist-vendored=false
*.c linguist-vendored=false
*.other linguist-vendored=false
*.dart linguist-detectable=true
